@use "styles/mixins" as *;

$fontFamily: "Segoe UI", sans-serif;
$btnMargin: 16px;

div,
h1,
h2,
h3,
p {
	user-select: none;
	font: {
		family: $fontFamily;
		style: normal;
	}
}

button {
	@include elevation(3);
	box-sizing: border-box;

	cursor: pointer;

	display: inline-flex;
	align-items: center;
	margin: $btnMargin;

	height: 4rem;
	padding: 0.3em 1em;
	border: rgba(0, 0, 0, 0.25) solid 2px;
	border-radius: 2px;

	background-color: #ffffff;
	color: rgb(46, 46, 46);
	touch-action: manipulation;
	font: {
		family: $fontFamily;
		style: normal;
		weight: 450;
		size: 1.5em;
	}
	text: {
		transform: uppercase;
		shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
		align: center;
	}

	&:active {
		background-color: #727272a2;
		transition-duration: 0.1s;
		box-shadow: rgba(40, 36, 80, 0.5) 0 1px 30px;
	}
	&:hover {
		border-bottom: rgba(128, 128, 128, 0.37) outset 2px;
		transition-duration: 0.1s;
		box-shadow: rgba(39, 35, 71, 0.5) 0 1px 30px;
	}
}

.landingImgWrapper {
	@include elevation(0);
	display: flex;
	position: absolute;
	justify-content: center;
	height: 80vh;
	width: 100%;

	@media (orientation: landscape) {
		top: 10vh;
		bottom: 5vh;
	}
	@media (orientation: portrait) {
		bottom: 5vh;
	}
}

.hotspotImgWrapper {
	@include elevation(0);
	display: flex;
	position: absolute;
	justify-content: center;
	@media (orientation: landscape) {
		left: 33vw;
		height: 100vh;
		width: 67vw;
	}
	@media (orientation: portrait) {
		bottom: 33vh;
		height: 67vh;
		width: 100vw;
	}
}

.titleCard {
	@include elevation(2);

	box-sizing: border-box;

	display: flex;
	position: absolute;
	top: 2rem;
	left: 0;
	flex-direction: column;
	padding-right: 8rem;
	padding-left: 3rem;
	border-bottom: 2px inset whitesmoke;
	border-radius: 0 16px 16px, 0;

	background-color: rgba(26, 26, 26, 0.65);
	color: white;

	@media (orientation: landscape) {
		min-width: 33vw;
	}
	@media (orientation: portrait) {
		min-width: fit-content;
	}
}
