@use "styles/mixins" as *;

$fontFamily: "Segoe UI", sans-serif;
$btnMargin: 16px;

div,
h1,
h2,
h3,
p {
	font: {
		family: $fontFamily;
		style: normal;
	}
	user-select: none;
}

h1 {
	font: {
		weight: 600;
		size: 3em;
	}
}

h2 {
	font: {
		weight: 300;
		size: 1.5em;
	}
	text-transform: uppercase;
	margin-top: 0;
}

h3 {
	font: {
		weight: 350;
		size: 1.5em;
	}
	text-transform: uppercase;
	margin: 0;
}
p {
	font: {
		weight: 450;
		size: 1.2em;
	}
	line-height: 1.6em;
}

btn {
	font: {
		family: $fontFamily;
		style: normal;
		weight: 450;
		size: 1.5em;
	}
	text: {
		transform: uppercase;
		shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
        align: center;
	}
    color: rgb(46, 46, 46);

	display: inline-flex;
	align-items: center;
    @include elevation(3);

	height: 4rem;
	box-sizing: border-box;
	padding: 0.3em 1em;
	margin: $btnMargin;

	background-color: #ffffff;
	border: rgba(0, 0, 0, 0.25) solid 2px;
	border-radius: 2px;

	cursor: pointer;
	touch-action: manipulation;

	&:active {
		box-shadow: rgba(40, 36, 80, 0.5) 0 1px 30px;
		transition-duration: 0.1s;
		background-color: #727272a2;
	}
	&:hover {
		box-shadow: rgba(39, 35, 71, 0.5) 0 1px 30px;
		transition-duration: 0.1s;
		border-bottom: rgba(128, 128, 128, 0.37) outset 2px;
	}
}
