@use "styles/mixins" as *;

//Components
.homeBtn {
	align-self: center;
	@include atCorner (top, right, 0, 0);
	> * {
		padding: 2px;
	}
}
.langBtn {
	text-transform: uppercase;
	@include atCorner (bottom, right, 0, 0);
	&:lang(en) {
		@include atCorner (bottom, left, 0, 0); // English language button always on the bottom left
	}
}