@use "styles/mixins" as *;

.landingPage {
	content: block;
	margin: 0 auto 0 auto;
	width: 100%;
	min-height: 100vh;

	/* For centering content */
	display: flex;
	align-items: center;
	justify-content: center;
}

// Show borders for designing
// @include showOutlines(".", "landingPage"); //FIXME: Border outlines for CSS designing