@use "styles/mixins" as *;



.landingImgWrapper {
	@include elevation(0);
	display: flex;
	position: absolute;
	justify-content: center;
	height: 80vh;
	width: 100%;

	@media (orientation: landscape) {
		top: 10vh;
		bottom: 5vh;
	}
	@media (orientation: portrait){
		bottom: 5vh;
		align-items: center;
	}
}

.hotspotImgWrapper {
	@include elevation(0);
	display: flex;
	position: absolute;
	justify-content: center;
	@media (orientation: landscape) {
		left: 33vw;
		height: 100vh;
		width: 67vw;
	}
	@media (orientation: portrait) {
		bottom: 33vh;
		align-items: center;
		height: 67vh;
		width: 100vw;
	}
}