@use "styles/mixins" as *;

.titleTextBox {
	width: fit-content;
	h1 {
		margin-bottom: 0.2em;
	}
}

.subtitleTextBox {
	margin-top: 0;
	width: fit-content;
}

.instructionsTextBox {
	width: max-content;
	padding: 0.3em 1em;
	border: rgba(0, 0, 0, 0.25) solid 2px;
	background-color: #ffffff;
	color: grey;
	translate: 2em 1em;
}

h1 {
	// TitleCard title text
	font: {
		weight: 600;
		size: 3rem;
	}
}

h2 {
	margin-top: 0;
	text-transform: uppercase;
	// TitleCard subtitle text
	font: {
		weight: 300;
		size: 1.5rem;
	}
}

h3 {
	margin: 0;
	text-transform: uppercase;
	// TitleCard instructions text
	font: {
		weight: 350;
		size: 1.5rem;
	}
}
